<% provide(:title, 'Member Groups') %>

<div class="jumbotron jumbotron-about">
  <div class="container">
    <h1><%= yield(:title) %></h1>
  </div>
</div>

<div class="container-content">
  <div class="container">
    <ul class="media-list">
      <% @member_groups.each do |member_group| %>
          <li class="media">
            <%= link_to '#', class: 'pull-left' do
              image_tag member_group.photo_url, alt: "Photo of #{ member_group.name }", class: 'media-object board-photo'
            end %>
            <div class="media-body">
              <h3 class="media-heading">Name</h3>
              <p class="lead"><%= member_group.name %></p>

              <h3 class="media-heading">Primary Contact</h3>
              <%= mail_to member_group.email do %>
                <p class="lead"><%= member_group.primary_contact %></p>
              <% end %>

              <h3 class="media-heading">Description</h3>
              <p class="lead"><%= member_group.description %></p>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render 'layouts/footer' %>