<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member_group.name %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @member_group.photo_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @member_group.description %>
</p>

<p>
  <strong>Website url:</strong>
  <%= @member_group.website_url %>
</p>

<p>
  <strong>Attended Shows:</strong><br />
  <% @member_group.attended_shows.each do |show| %>
    <% if (!show.host_org.eql?(@member_group.name)) %>
      <%= show.title  %><br />
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_member_group_path(@member_group) %> |
<%= link_to 'Back', member_groups_path %>
