<%= form_for(@community_score) do |f| %>
  <% if @community_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@community_score.errors.count, "error") %> prohibited this community_score from being saved:</h2>

      <ul>
      <% @community_score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school_year %><br>
    <%= f.text_field :school_year %>
  </div>
  <div class="field">
    <%= f.label :member_group_id %><br>
    <%= f.text_field :member_group_id %>
  </div>
  <div class="field">
    <%= f.label :number_score %><br>
    <%= f.text_field :number_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
