<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<p>Dear <%= @nominee %>,</p>

<p>
  Congratulations!
  <%= if @nominator.blank?
        'Someone'
      else
        @nominator
      end %>
  thinks you would be a great fit for the Vanderbilt Performing Arts Council Executive Board for 2014-2015. If you have
  not already started the application, please consider doing so today. The form is located
  on <%= link_to 'Anchor Link', 'https://anchorlink.vanderbilt.edu/form/start/37861' %> and is due by
  Wednesday, March 19, at midnight. If you have any questions, please email VPAC President Emily Welter at
  emily.e.welter@vanderbilt.edu.
</p>
<p>
  Best,<br />
  <br />
  VPAC Executive Board
</p>
</body>
</html>