<% provide(:title, 'Current Board') %>

<div class="jumbotron jumbotron-about">
  <div class="container">
    <h1><%= yield(:title) %></h1>
  </div>
</div>

<div class="container-content">
  <div class="container">
    <div class="row">
      <% @board_members[0..5].each do |board_member| %>
        <div class="col-xs-4 col-md-2">
          <%= image_tag(board_member.photo_url, alt: "Photo of #{board_member.name}", class: 'center-block board-thumbnail img-rounded') %>
          <div class="caption">
            <h4 class="text-center"><%= board_member.name %></h4>
            <p class="text-center"><%= board_member.position %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <% @board_members[6..10].each do |board_member| %>
        <div class="col-xs-4 col-md-2">
          <%= image_tag(board_member.photo_url, alt: "Photo of #{board_member.name}", class: 'center-block board-thumbnail img-rounded') %>
          <div class="caption">
            <h4 class="text-center"><%= board_member.name %></h4>
            <p class="text-center"><%= board_member.position %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>