<% provide(:title, 'Current Board') %>

<div class="jumbotron jumbotron-about">
  <div class="container">
    <h1><%= yield(:title) %></h1>
  </div>
</div>

<div class="container-content">
  <div class="container">
    <ul class="media-list">
      <% @board_members.each do |board_member| %>
        <li class="media">
          <%= link_to '#', class: 'pull-left' do
            image_tag board_member.photo_url, alt: "Photo of #{ board_member.name }", class: 'media-object board-photo'
          end %>
          <div class="media-body">
            <h3 class="media-heading">Name</h3>
            <p class="lead"><%= board_member.name %></p>

            <h3 class="media-heading">Board Position</h3>
            <p class="lead"><%= board_member.position %></p>

            <h3 class="media-heading">Bio</h3>
            <p class="lead"><%= board_member.bio %></p>

            <p class="lead"><%= mail_to board_member.email, "Email #{ board_member.name.split(' ')[0] }" %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render 'layouts/footer' %>