<% provide(:title, 'Current Board') %>

<div class="jumbotron jumbotron-about">
  <div class="container">
    <h1><%= yield(:title) %></h1>
  </div>
</div>

<div class="container-content">
  <div class="container">
    <% @board_members.each do |board_member| %>
      <div class="row board-member-row">
        <div class="col-xs-12 col-sm-4">
          <%= image_tag board_member.photo_url, alt: "Photo of #{ board_member.name }", class: 'img-rounded board-photo img-responsive' %>
        </div>

        <div class="col-xs-12 col-sm-8">
          <div class="caption">
            <h3 class="top-column-header">Name</h3>
            <p class="lead"><%= board_member.name %></p>

            <h3 class="column-header">Board Position</h3>
            <p class="lead"><%= board_member.position %></p>

            <h3 class="column-header">Bio</h3>
            <p class="lead"><%= board_member.bio %></p>

            <p class="lead"><%= mail_to board_member.email, "Email #{ board_member.name.split(' ')[0] }" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'layouts/footer' %>