<% provide(:title, @board_member.name) %>

<div class="jumbotron jumbotron-about">
  <div class="container">
    <h1><%= @board_member.name %> <small><%= @board_member.position %></small></h1>
  </div>
</div>

<div class="container-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <%= image_tag(@board_member.photo_url, alt: "Photo of #{@board_member.name}", class: 'board-photo img-rounded') %>
      </div>

      <div class="col-xs-8">
        <p><%= @board_member.bio %></p>
        <p><%= mail_to(@board_member.email, "Email #{@board_member.name.split(' ')[0]}") %></p>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board_member.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @board_member.position %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @board_member.bio %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @board_member.photo_url %>
</p>

<p>
  <strong>Email:</strong>
  <%= @board_member.email %>
</p>

<%= link_to 'Edit', edit_board_member_path(@board_member) %> |
<%= link_to 'Back', board_members_path %>
