<%= form_tag text_path, multipart: true do %>
    <p>CSV to Text</p>

    <%= file_field_tag :file %>
    <%= submit_tag 'Import' %><br /><br />
<% end %>

<%= form_tag csv_path, multipart: true do %>
    <p>Text to CSV</p>

    <%= file_field_tag :file %>
    <%= submit_tag 'Import' %><br /><br />
<% end %>

<%= form_tag import_member_groups_path, multipart: true do %>
    <div class="field">
      <%= label_tag :group_name, 'Member Group' %>
      <%= select_tag :group_name, options_from_collection_for_select(MemberGroup.all, 'id', 'name'), prompt: 'Select Group' %>
    </div>

    <%= file_field_tag :file %>
    <%= submit_tag 'Import' %><br /><br />
<% end %>

<%= form_tag import_attended_shows_path, multipart: true do %>
    <div class="field">
      <%= label_tag :title, 'Show Title' %>
      <%= text_field_tag :title %>
    </div>

    <div class="field">
      <%= label_tag :host_org, 'Hosting Member Group' %>
      <%= select_tag :host_org, options_from_collection_for_select(MemberGroup.all, 'id', 'name'), prompt: 'Select Group' %>
    </div>

    <%= file_field_tag :file %>
    <%= submit_tag 'Import' %>
<% end %>

<%= render 'layouts/footer' %>
