<div class="jumbotron jumbotron-events">
  <div class="container">
    <h1><%= yield(:title) %></h1>
  </div>
</div>

<div class="container-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag yield(:image),
                      alt: 'Event poster',
                      class: 'img-rounded poster img-responsive' %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p class="event-description lead"><%= yield(:event_text) %></p>
        <% unless yield(:schedule_text).blank? %>
            <p class="event-schedule lead"><%= yield(:schedule_text) %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>