<footer>
  <div class="navbar navbar-fixed-bottom">
    <nav>
      <div id="icons">
          <ul>
            <li><%= link_to image_tag('facebook.png', alt: 'Facebook logo'), '#' %></li>
            <li class="divider"><%= link_to image_tag('divider.png', alt: 'Logo divider'), '#' %></li>
            <li><%= link_to image_tag('twitter.png', alt: 'Twitter logo'), '#' %></li>
            <li class="divider"><%= link_to image_tag('divider.png', alt: 'Logo divider'), '#' %></li>
            <li><%= link_to image_tag('anchorlink.png', alt: 'Anchor Link logo'), '#' %></li>
          </ul>
      </div>
    </nav>
    <div id="copyright-text">Copyright © 2013 Vanderbilt Performing Arts Council</div>
  </div>
</footer>