<footer>
  <div class="container">
    <div id="icons">
      <ul class="list-unstyled list-inline">
        <li><%= link_to image_tag('facebook.png', alt: 'Facebook logo'),
                        'https://www.facebook.com/VanderbiltPerformingArtsCouncil', target: '_blank' %></li>
        <li class="divider"><%= image_tag('divider.png', alt: 'Logo divider') %></li>
        <li><%= link_to image_tag('twitter.png', alt: 'Twitter logo'), '#' %></li>
        <li class="divider"><%= image_tag('divider.png', alt: 'Logo divider') %></li>
        <li id="anchor-logo"><%= link_to image_tag('anchorlink.png', alt: 'Anchor Link logo'),
                        'https://anchorlink.vanderbilt.edu/organization/vpac', target: '_blank' %></li>
      </ul>
    </div>
    <p id="copyright-text">Copyright © <%= Time.now.year %> Vanderbilt Performing Arts Council</p>
  </div>
</footer>