<footer>
  <div class="navbar">
    <nav>
      <div id="icons">
          <ul>
            <li><%= link_to image_tag('facebook.png', alt: 'Facebook logo'),
                            'https://www.facebook.com/VanderbiltPerformingArtsCouncil', target: '_blank' %></li>
            <li class="divider"><%= image_tag('divider.png', alt: 'Logo divider') %></li>
            <li><%= link_to image_tag('twitter.png', alt: 'Twitter logo'), '#' %></li>
            <li class="divider"><%= image_tag('divider.png', alt: 'Logo divider') %></li>
            <li><%= link_to image_tag('anchorlink.png', alt: 'Anchor Link logo'),
                            'https://anchorlink.vanderbilt.edu/organization/vpac', target: '_blank' %></li>
          </ul>
      </div>
    </nav>
    <div id="copyright-text" class="clearfix">Copyright © 2013 Vanderbilt Performing Arts Council</div>
  </div>
</footer>