<header>
  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to image_tag('logo.png', alt: 'VPAC logo'), root_path, class: 'navbar-brand' %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Home', root_path %></li>
          <li class="dropdown">
            <%= link_to 'About', '#', class: 'dropdown-toggle', id: 'dropdown-toggle-about', data: {toggle: 'dropdown'} %>
            <ul class="dropdown-menu" id="dropdown-menu-about">
              <li><%= link_to 'Mission', mission_path %></li>
              <li><%= link_to 'History', history_path %></li>
              <li><%= link_to 'Member Groups', member_groups_path %></li>
              <li><%= link_to 'Current Board', current_board_index_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <%= link_to 'Resources', '#', class: 'dropdown-toggle', id: 'dropdown-toggle-resources', data: {toggle: 'dropdown'} %>
            <ul class="dropdown-menu" id="dropdown-menu-resources">
              <li><a href="#">Reserve Space</a></li>
              <li><%= link_to 'Publicity Help', publicity_help_path %></li>
              <li><%= link_to 'AcFee Help', acfee_help_path %></li>
              <li><%= link_to 'Anchor Link Help', anchor_link_help_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <%= link_to 'Events', '#', class: 'dropdown-toggle', id: 'dropdown-toggle-events', data: {toggle: 'dropdown'} %>
            <ul class="dropdown-menu" id="dropdown-menu-events">
              <li><%= link_to 'Calendar', calendar_path %></li>
              <li><a href="#">Auditions</a></li>
              <li><%= link_to 'Spotlight', spotlight_path %></li>
              <li><%= link_to 'Main Attraction', main_attraction_path %></li>
              <li><%= link_to 'Encore', encore_path %></li>
            </ul>
          </li>
          <li><%= link_to 'Media', media_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>