<% ref_name = topic.name.tr('#', '').tr('?', '').downcase.split(' ').join('-') %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#<%= ref_name %>">
        <%= topic.name %>
      </a>
    </h4>
  </div>

  <div id="<%= ref_name %>" class="panel-collapse collapse<%= ' in' if topic_counter.eql?(0) %>">
    <div class="panel-body">
      <%= topic.content %>
    </div>
  </div>
</div>