<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Member Groups:</strong>
  <% @member.member_groups.each do |group| %>
    <%= group.name %><br />
  <% end %>
</p>

<p>
  <strong>Shows Attended:</strong><br />
  <% @member.attended_shows.each do |show| %>
    <%= show.title %><br />

  <% end %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
